<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shortened URL</title>
</head>
<body>
  <h1>Success!! </h1>

<p><strong>Shortened URL:</strong>
  <a href="<%= @shortened_url %>" target="_blank"><%= @shortened_url %></a>
</p>
<p><strong>Original URL:</strong>
  <a href="<%= @original_url %>" target="_blank"><%= @original_url %></a>
</p>

</body>
</html>
