  <h1>URL Shortener Statistics</h1>
  <table>
    <thead>
      <tr>
        <th>Shortened URL</th>
        <th>Original URL</th>
        <th>Click Count</th>
      </tr>
    </thead>
    <tbody>
      <%= for url <- @urls do %>
        <tr>
          <td><%= "http://localhost:4000/#{url.slug}" %></td>
          <td><%= url.original_url %></td>
          <td><%= url.click_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/stats?download=true">Download as CSV</a>
